<!-- <div>
    <ul>
        <li *ngFor="let item of listOfItems | arrayToString">{{item.name}}</li>
    </ul>
</div>

<div>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Model</td>
            <td>Price</td>
            <td>color</td>
        </tr>
        <tr *ngFor="let item of listOfItems">  listOfItem[{0},{1},{2}] ; let item of listOfItem-->
            <!-- <td>{{item.name}}</td>
            <td>{{item.model}}</td>
            <td>{{item.price}}</td>
            <td>{{item.color}}</td>
        </tr>
    </table>
</div> --> 
<!-- <div>
    {{elements}}
    <br/><br/>
    {{elements | arrayToString }}
</div> -->
<!-- 
<div>
    {{listOfItems}}
    <br/><br/>
    {{listOfItems | arrayToString }}
</div> -->

<div>
    {{newArray | customArray }}
</div>