<div>
    <h1>IN BUILD PIPES</h1>
    {{text}}<br/>
    <span>{{text | uppercase}}</span><br/>
    <span>{{text | lowercase}}</span><br/>
    <span>{{date | date:'d/M/y'}}</span><br/>
    <span>{{date | date:'dd MMMM yyyy'}}</span><br/>
    <span>{{150000 | currency:'USD'}}</span><br/> 
    <span>{{150000 | currency:'INR'}}</span><br/> 
    <span>{{150000 | currency:'GBP'}}</span><br/> 
    <span>{{150000 | currency:'EUR'}}</span><br/> 
</div>
<div>
    <h1>CUSTOM PIPES</h1>
    <span>SQRT of 64 = {{64 | sqrt}}</span>
</div>
<h1>Data Type</h1>
<h3>String</h3>
<h3>Boolean</h3>
<h3>Number</h3>
<h3>Any/Array</h3>
<h3>Undefined</h3>
<h3>Unkown</h3>
