 <!-- <app-conditional-statement></app-conditional-statement> -->
<!--<app-switch-cases></app-switch-cases>
<br/>
<br/>
<br/>


 <app-ngfor-example></app-ngfor-example> -->
<!-- <app-parent></app-parent> -->
<!-- <app-pipeexaple></app-pipeexaple> -->
<!-- <app-custome-directive></app-custome-directive> -->

<!-- <app-ngcontainer-ngcontent></app-ngcontainer-ngcontent> -->
<!-- <app-service-comp></app-service-comp> -->
<!-- <router-outlet></router-outlet> -->

<!-- <app-api-listing></app-api-listing> -->
<app-template-driven-forms></app-template-driven-forms>