<div>
    <label> Name</label>
    <input type = "text" [(ngModel)]="name"  name="Name" placeholder="Name"/>
</div>
<div>
    <label>Age</label>
    <input type="text" [(ngModel)]="age" name="age" placeholder="age" />
</div>

<div>
    <label>Gender</label>
    <input type="radio" [(ngModel)]="gender" name="gender" value="Male"/>Male
    <input type="radio" [(ngModel)]="gender" name="gender" value="Female" />Female
</div>
<br/>
<div>
    <button type="button" (click)="addData()">Add Data</button>
</div>
<br/><br/>
<table border="1">
    <thead>
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Gender</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of dataArray; let i=index">
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>{{item.gender}}</td>
            <td><button (click)="removeData(i)">Remove</button></td>
        </tr>
    </tbody>
</table>