<div class="container">
    <div class="left">
        <div class="leftNav">
            <ul>
                <li [routerLink]="['/dashboard/home']">Home</li>
                <li [routerLink]="['/dashboard/user-list']">User List</li>
                <li>About</li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="topbar">
            <button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
            <mat-menu #aboveMenu="matMenu" yPosition="above">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
            <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
            </mat-menu>


            <button mat-button [matMenuTriggerFor]="afterMenu">After</button>
            <mat-menu #afterMenu="matMenu" xPosition="after">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
            </mat-menu>
        </div>
        <div class="container-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
